<!doctype html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>Briefer</title>
	<link rel="stylesheet" href="{{ STATIC_URL }}site/css/base.css">
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100' rel='stylesheet' type='text/css'>

	<meta property="og:title" content="Briefer">
    <meta property="og:description" content="Briefer is a mobile CRM application for drafting and designing creative briefings. Specific for productivity at work. Ideal for storing information in a collaborative manner. A business partner for you to carry with you wherever you go.">
    <meta property="og:url" content="http://{{ request.get_host }}/">
    <meta property="og:locale" content="pt_BR">
    <meta property="og:site_name" content="Briefer">
    <meta property="og:type" content="website">
    <meta property="og:image" content="http://{{ request.get_host }}site/images/briefer_share_picture.png" />
    <link rel="icon" type="image/png" href="http://{{ request.get_host }}site/images/briefer_favicon.png">


    <!--
    <meta property="fb:app_id" content=""> -->

</head>
<body>

	<div id="video-wrapper" class="table-wrapper">
		<div class="video-container">
			<div class="video-inner-wrap">
                <iframe src="http://player.vimeo.com/video/69282818" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
            </div>
		</div>
	</div>

	
	<header>
		<span class="view">
			<span>
				Click to view presentation
			</span>
			<span class="seta"></span>
		</span>
	</header>
	<div class="player">
		<span class="play"></span>
	</div>
	<div class="main">
		<div class="welcome">Welcome to Briefer.</div>
		<div class="mobile">Mobile CRM application for drafting and designing creative briefings.</div>
		<form action="{% url 'cadastrar-newsletter' %}" method="post" id="newsletter-form">
			<div class="white-bg">
				<div class="table-wrapper">
					<div class="table-cell-wrapper">
						{% csrf_token %}
						<input type="text" name="email" id="email" placeholder="Leave your email address to receive news about Briefer.">
						<input type="submit" value="Send" id="send">
					</div>
				</div>
			</div>
		</form>

		<img src="{{ STATIC_URL }}site/images/mao.png" alt="" id="mao" class="animat">
	</div>

	<footer>
	  <span>Be a part of it: <strong>support this idea.</strong></span>
	  <ul>
	    <li><a href="https://angel.co/briefer" target="_blank"><span class="angel" title="Angelist"></span></a></li>
	    <li><a href="http://www.f6s.com/briefer" target="_blank"><span class="f65" title="F6s"></span></a></li>
	    <li><a href="http://www.fundacity.com/startup?id=216" target="_blank" title="Fundacity"><span class="startup"></span></a></li>
	    <li><a href="http://www.linkedin.com/company/briefer" target="_blank" title="Linkedin"><span class="linkedin"></span></a></li>

	  </ul>
	</footer>
	
	<script src="{{ STATIC_URL }}site/js/libs/jquery-1.8.3.min.js"></script>
	<script src="{{ STATIC_URL }}site/js/home.js"></script>
	<script type="text/javascript">
		(function(){

			$('.player').click(function(e){
				var clone = $('#video-wrapper')[0].cloneNode(true);
				$('body').append(clone);
				$(clone).show().hide().fadeIn(800).click(function(e){
					$(this).fadeOut(800, function(){
						$(this).remove();
					});
				});;
			});


			$('#newsletter-form').on('submit', function(e){
				e.preventDefault();
				var that = this;

				var data = $(this).serialize();

				$.ajax({
					url : this.action,
					type : this.method,
					data : data,
					dataType : 'json',
					success : function( data ) {

						if ( data.status === 'ok' ) {
							alert('Seu e-mail foi cadastrado com sucesso.');
							$('#email').val('');

						} else {
							alert('Seu e-mail já esta cadastrado ou é inválido.')
						}
					}
				});

				return false;
			});

		}());
	</script>

</body>
</html>