body {
  width: 99%;
  height: 100%;
  background: url("../images/bg.jpg") center center no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;	
}

html, body {
	margin: 0;
	padding: 0;
}

header {
  width: 100%;
  height: 80px;
  display: block;
  background-color: rgbA( 255, 255, 255, 0.2 );
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
@-webkit-keyframes seta_frame {
  0%   { margin-left: 11px; }
  50% { margin-left: 31px; }
  100% { margin-left: 11px; }
}
@-moz-keyframes seta_frame {
  0%   { margin-left: 11px; }
  50% { margin-left: 31px; }
  100% { margin-left: 11px; }
}
@-o-keyframes seta_frame {
  0%   { margin-left: 11px; }
  50% { margin-left: 31px; }
  100% { margin-left: 11px; }
}
@keyframes seta_frame {
  0%   { margin-left: 11px; }
  50% { margin-left: 31px; }
  100% { margin-left: 11px; }
}

#video-wrapper {
	height: 100% !important;
	position: fixed !important;
	background: rgba(0, 0, 0, 0.85);
	z-index: 999;
	width: 100%;
	top: 0;
	display: none;

	.video-container {
		position: relative;
		top: 50%;
		background: white;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		width: 800px;
		height: 450px;
		margin: 0 auto;
		overflow: hidden;
		padding: 10px;
		margin-top: -225px;

		.video-inner-wrap {
			position: relative;
			overflow: hidden;
			width: 100%;
			height: 100%;
		}

		iframe {
			position: absolute;
			display: block;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}
  
.view {
	 font-size: 16px;
	  font-family: "Roboto";
	  font-weight: 100;
	  position: relative;
	  color: rgba(255, 255, 255, 0.702);
	  top: 27px;
	  left: 6%;
	  display: table;

	.seta {
		position: absolute;
		left: 100%;
		top: 50%;
		width: 6px;
		height: 12px;
		display: block;
		background: url("../images/enter.png");
		margin: 0;
		margin-top: -6px;
		margin-left: 11px;

		-webkit-animation: seta_frame 2s infinite ease; /* Safari 4+ */
		-moz-animation:    seta_frame 2s infinite ease; /* Fx 5+ */
		-o-animation:      seta_frame 2s infinite ease; /* Opera 12+ */
		animation:         seta_frame 2s infinite ease; /* IE 10+ */
	}
}

.player {

	width: 56px;
	position: absolute;
	left: 50%;
	top: 10px;

	.play {
		background: url("../images/player.png");
		display: block;
		width: 56px;
		height: 56px;
		cursor: pointer;
		&:hover {
			background: url("../images/playerhover.png");
			display: block;
			width: 56px;
			height: 56px;
			cursor: pointer;
		}
	}
}
.main {
  position: absolute;
  left: 6%;
  top: 40%;
  text-align: left;

	.welcome {
	  font-size: 3.4em;
	  font-family: "Roboto";
	  color: #e76436;
	  font-weight: 100;
	}
	.mobile {
	  font-size: 1.41em;
	  font-family: "Roboto";
	  color: rgba(233, 233, 233, 1.0);
	  opacity: 0.7;
	  font-weight: 100;
	  width: 286px;
	}
}

footer {
	position: absolute;
	bottom: 13px;
	left: 6%;
	span {
	  font-size: 0.7em;
	  font-family: "Roboto";
	  color: white;
	  font-weight: 100;
	}
	ul {
		margin: 10px 0 0 0;
		padding: 0;
		li {
			list-style: none;
			display: inline-block;
		}
	}

	strong {
		font-weight: 400;
	}
}

.linkedin {
	background: url("../images/linkedin.png");
	display:block;
	width:45px;
	height:45px;
	&:hover {
		background: url("../images/linkedinhover.png");
		display:block;
		width:45px;
		height:45px;
	}
}

.f65 {
	background: url("../images/f65.png");
	display:block;
	width:45px;
	height:45px;
	&:hover {
		background: url("../images/f65hover.png");
		display:block;
		width:45px;
		height:45px;
	}
}

.startup {
	background: url("../images/fundacity_icon_normal.png");
	display:block;
	width:45px;
	height:45px;
	&:hover {
		background: url("../images/fundacity_icon_hover.png");
		display:block;
		width:45px;
		height:45px;
	}
}

.angel {
	background: url("../images/angel.png");
	display:block;
	width:45px;
	height:45px;
	&:hover {
		background: url("../images/angelhover.png");
		display:block;
		width:45px;
		height:45px;
	}
}






